<h2>
  <span class="primary-text"><i class="fa fa-file" style="color: black;"></i> My Speeches</span>
</h2>
<br>
<ng-container *ngIf="speeches.length > 0; else emptySpeech">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let speech of speeches">
      <button class="btn btn-outline-secondary btn-block speeches-btn" (click)="onSelect(speech)">
        <b>Author:</b> {{ speech.author }}
        <span class="badge badge-pill badge-primary" tooltip="{{speech.emailAddress.length}} Shares">
          {{speech.emailAddress.length}}
        </span>
      </button>
    </li>
  </ul>
</ng-container>
<ng-template #emptySpeech>
  No speech found.
</ng-template>
